/* ------------ MAIN PAGE CONTAINERS ------------ */

.container {
  display: flex;
  flex-direction: row;
  background: var(--primary-variant);
}

.main-container {
	display: flex;
	flex-direction: column;
	flex: auto;
	width: 20rem;
	height: 100vh;
	padding: 2rem;
}

.main-wrapper {
	display: flex;
	justify-content: center;
	flex: 5;
}

/* ------------ CONTENT CONTAINER ------------ */

.content-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 1rem;
}

.content-param {
	display: flex;
	justify-content: flex-start;
	height: fit-content;
	margin: 1rem;
}

.content-param-indent {
	display: flex;
	justify-content: flex-start;
	height: fit-content;
	margin: 1rem;
	padding: 0rem 1.5rem 0rem 1.5rem;
}